/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NAV 1
#define MODS 2
#define SYMBOLS 3
#define NUMBERS 4
#define SPECIAL 5

#define LAUNCHER (LG(SPACE))
#define CTRL_TAB (LC(TAB))
#define C_S_TAB (LC(LS(TAB)))
#define ELLIPSIS (LA(SEMICOLON))

#define SPC_PREVIOUS (LC(LA(LEFT)))
#define S_PRV SPC_PREVIOUS

#define SPC_NEXT (LC(LA(RIGHT)))
#define S_NXT SPC_NEXT

&sk {
  release-after-ms = <1500>;
  quick-release;
};

/ {

  chosen {
    zmk,battery = &vbatt;
  };

  vbatt: vbatt {
      compatible = "zmk,battery-nrf-vddh";
      label = "VBATT";
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp Q &kp Q     &kp W    &kp E     &kp R     &kp T                     &kp Y     &kp U    &kp I     &kp O     &kp P         &kp Q
        &kp Q &kp A     &kp S    &kp D     &kp F     &kp G                     &kp H     &kp J    &kp K     &kp L     &kp SEMI      &kp Q
        &kp Q &kp Z     &kp X    &kp C     &kp V     &kp B                     &kp N     &kp M    &kp COMMA &bt BT_CLR &bt BT_SEL 0 &kp Q 
                                  &kp Q &kp SPACE &kp TAB                   &kp ENTER &kp BKSP &kp Q
      >;
    };
  };

};
